/* Контейнер по центру */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
/* Анимация появления панели */
@keyframes glassPop {
  0% {
    opacity: 0;
    transform: scale(0.95) translateY(20px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

/* Заголовок */
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Fade-in для инпутов */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Кнопка с "пружинкой" */
@keyframes buttonPop {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  60% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.login-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", Arial, sans-serif;
}


.login-form {
    position: relative;
  animation: glassPop 0.6s ease forwards;
  background: linear-gradient(
    to bottom right,
    rgb(255, 255, 255),  /* белёсая основа */
    rgba(255, 255, 255, 0.3)   /* плавный переход */
  );
  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);

  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  z-index: 1;
  padding: 40px;
  width: 340px;
  display: flex;
  flex-direction: column;

  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}
/* Заголовок */
.login-title {
  opacity: 0;
  animation: slideDown 0.6s ease forwards;
  animation-delay: 0.3s;
  font-size: 24px;
  font-weight: 600;
  color: #1d1d1f; 
  text-align: center;
  margin-bottom: 30px;
}

/* Поля ввода */
.login-input {
    opacity: 0;
  animation: fadeInUp 0.6s ease forwards;
  margin-bottom: 20px;
  padding: 12px 14px;
  border: 1px solid #d2d2d7;
  border-radius: 12px;
  font-size: 16px;
  outline: none;
  transition: all 0.2s ease;
}

.login-input:focus {
  border-color: #0071e3;
  box-shadow: 0 0 0 4px rgba(0, 113, 227, 0.2);
}

/* Кнопка */
.login-button {
  opacity: 0;
  animation: fadeInUp 0.6s ease forwards;

  background: #0071e3;
  color: white;
  border: none;
  padding: 14px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 15px;
  transition: background 0.2s ease;
}

.login-signin {
  opacity: 0;
  animation: slideDown 0.6s ease forwards;
  animation-delay: 1s;
  
  background: #6e6f6f;
  color: white;
  border: none;
  padding: 14px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.2s ease;


}

.login-signin:hover {
  background: #919191;
}

.login-button:hover {
  background: #005bb5;
}
.login-input:nth-of-type(1) {
  animation-delay: 0.5s;
}

.login-input:nth-of-type(2) {
  animation-delay: 0.7s;
}
